<!DOCTYPE html>
<html>
<head>
  <title>Dashboard - HomeSense</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="login-box">
    <h2>🌊 Turbidity Dashboard</h2>

    <table border="1" cellpadding="8">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Sensor</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row.timestamp }}</td>
	  <td>{{ row.sensor_id }}</td>
	  <td>{{ row.raw_value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <p><a href="/config">⚙️ Go to Config</a></p>
  </div>
</body>
</html>
